{% assign member = site.members 
  | where_exp: "member", "member.slug == include.lookup"
  | first
  | default: include
%}

<div class="portraitalumni-wrapper">
  <div
    class="portraitalumni"
    data-style="{{ include.style }}"
    aria-label="{{ member.name | default: "member" }}"
  >

  {% assign type = site.data.types[member.role] %}
  {% include icon.html icon=type.icon class="portraitalumni-icon" %}

  <span class="portraitalumni-text">
    <span class="portraitalumni-name">{{ member.name }}</span>

    {% if member.date %}
      <span class="portraitalumni-years">
        ({{ member.date | date: "%Y" }})
      </span>
    {% endif %}

    {% if member.description %}
      — {{ member.description }}
    {% endif %}
  </span>

</div>
