{% assign member = site.members 
  | where_exp: "member", "member.slug == include.lookup"
  | first
  | default: include
%}

<div class="portraitalumni-wrapper">
  <div
    class="portraitalumni"
    data-style="{{ include.style }}"
    aria-label="{{ member.name | default: "member" }}"
  >

  {% if member.name or member.role or member.description %}
      <span class="portraitalumni-text">
        {% if member.name %}
          <span class="portraitalumni-name">
            {{ member.name }}
          </span>
        {% endif %}

        {% if member.role or member.description %}
          <span class="portraitalumni-role">
            {% assign type = site.data.types[member.role] %}
            {% include icon.html icon=type.icon %}
            <span>{{ member.description | default: type.description }}</span>
          </span>
        {% endif %}
      </span>
    {% endif %}
    </div>
</div>
