{% assign member = site.members 
  | where_exp: "member", "member.slug == include.lookup"
  | first
  | default: include
%}

<div class="portraitalumni-wrapper">
  <div
    class="portraitalumni"
    data-style="{{ include.style }}"
    aria-label="{{ member.name | default: "member" }}"
  >
   

    {% if member.name or member.description %}
      <span class="portraitalumni-text">
        {% if member.name %}
          <span class="portraitalumni-name">
            {{ member.name }}
          </span>
        {% endif %}

        {% if member.description %}
          <span>{{ member.description | default: type.description }}</span>
        {% endif %}
      </span>
    {% endif %}

</div>
